.carousel-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding:0;
  overflow: hidden;
}

.carousel-bg.one {
background-color: $color-projectone--primary;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // width: 768px;
  height: 416px;
  padding-left: 64px;
  margin:64px 0;
  box-shadow: -4px 4px 8px rgba(0,0,0,0.5);
  transition: $transition_default;
}

.swiper-slide-active .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // width: 768px;
  height: 416px;
  padding-left: 64px;
  box-shadow: -16px 16px 32px rgba(0,0,0,0.3);
  transition: $transition_default;
  &:hover {
    box-shadow: -4px 4px 8px rgba(0,0,0,0.5);
    transition: $transition_default;
  }
  &:active {
    box-shadow: -2px 2px 4px rgba(0,0,0,0.7);
    transition: $transition_default;
  }
}

.one {
  background-color: $color-projectone--primary;
}
.two {
  background-color: $color-projecttwo--primary;
}
.three {
  background-color: $color-projectthree--primary;
}
.four {
  background-color: $color-white;
}
.five {
  background-color: $color-projectfive--primary;
}
.six {
  background-color: $color-projectsix--primary;
}


.card-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card-text--white h4, .card-text--white h2 {
  color: $color-white;
}

.card-text--black h4, .card-text--black h2 {
  color: $color-black;
}


.card-img {
  display: flex;
  align-items: center;
  img {
    position: absolute;
    right: 32px;
    width: 50%;
    height: auto;
  }
}

.slider-container--one {
  margin-left:-832px;
  transition: $transition_default;

}

.swiper-slide {
  width: 768px!important;
  height: 80vh;
}
