.contact-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.contact-page.active {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.contact-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  z-index: 1000;
}


.all-pages {
  position: relative;

}
