.contact-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $color-black;
  z-index: 1000;
  padding: $space*2;
}

.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;

  .contact-info--paragrafs {
   display: flex;
  }

  h4 {
    color: $color-light;
  }

  h2 {
    color: $color-white;
    margin-bottom: 24px;
  }

  .contact-info--paragrafleft, .contact-info--paragrafright {
    width: 256px;
    margin-right: 32px;
    color: $color-light;
    p span{
      font-family: $font-headings;
      color: $color-white;
    }
  }

}


.contact-image {
  width: 50%;
  height: 100%;
  background-image: url('images/max-profile-pinkshirt-greyscale.jpg');
  background-size: cover;
  background-position: center center;
  opacity: .5;

}

.contact-social {
  display: flex;
  margin-top: 32px;

  .contact-social--behance, .contact-social--instagram, .contact-social--dribbble {
    height: 32px;
    width: 32px;
    background-color: $color-dark;
    margin-right: 16px;
  }

  .contact-social--behance, .contact-social--dribbble, .contact-social--instagram {
    background-size: cover;
    box-shadow: $boxshadow-level--two;
    transition: $transition_default;

    &:hover{
      box-shadow: $boxshadow-level--four;
      transition: $transition_default;
    }
    &:active{
      box-shadow: $boxshadow-level--two;
      transition: $transition_default;
    }

  }
  .contact-social--behance{
    background-image: url('icons/behance_default.png');
      &:hover{
      background-image: url('icons/behance_hover.png');
      }
  }

  .contact-social--instagram{
    background-image: url('icons/instagram_default.png');
      &:hover{
      background-image: url('icons/instagram_hover.png');
      }
  }

  .contact-social--dribbble{
    background-image: url('icons/dribbble_default.png');
      &:hover{
      background-image: url('icons/dribbble_hover.png');
      }
  }

}
