.Section {
  display: flex;
  flex-flow: wrap;
  position: relative;
  flex-direction: row;
  width: 100%;
}

.Section--column {
  display: flex;
  flex-flow: wrap;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.Section--centercenter {
  align-items: center;
  justify-content: center;
}


.Section--padding {
  padding: $gutter;
}

.Section-background {
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
    padding: 0;
    @media (orientation:portrait) {
        height: 100%;
    }
  }

.Section-background img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Section--100vh {
  min-height: 100vh;
}

.Section--62vh {
  height: 62.5vh;
}

.Grid {
  display: flex;
  flex-flow: wrap;
}

.Grid-col {
  padding: $gutter/2;
}

.Grid-col--textCenter {
  text-align: center;
}

.Grid-col--noPadding {
  padding: 0;
}

.Grid-col img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.Grid-col--justifyCenter {
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.Grid-col--1of4 {
  flex: 0 0 25%;
  @media (max-width: $mq_very_thin) {
    flex: 1 1 100%;
  }
}

.Grid-col--2of4 {
  flex: 0 0 50%;
  @media (max-width: $mq_very_thin) {
    flex: 1 1 100%;
  }
}

.Grid-col--3of4 {
  flex: 0 0 75%;
  @media (max-width: $mq_very_thin) {
    flex: 1 1 100%;
  }
}

.Grid-col--4of4 {
  flex: 1 1 100%;
  @media (max-width: $mq_very_thin) {
    flex: 1 1 100%;
  }
}
