.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 32px;
  height: auto;
  background-color: rgba(0,0,0,0);
  z-index: 1000;
}

.header-signature {
  position: fixed;
  top:32px;
  left: 32px;

}

.header-signature--white {
  font-size: $space;
  color:#FFF;
}


/*DISPLAYMODE ICONS*/

.header-displaymode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: rows
}

.header-displaymode--grid {

}


.header-displaymode--grid img, .header-displaymode--carousel img {
  height: auto;
  width: 28px;
  margin:4px;
  opacity: .3;
  transition: $transition_default;
}

.header-displaymode--grid img:hover, .header-displaymode--carousel img:hover {
  height: auto;
  width: 28px;
  margin:4px;
  opacity: 1;
  transition: $transition_default;
}

.header-displaymode--carousel.selected img, .header-displaymode--grid.selected img {
  opacity: 1;
}
