.header {
  position: fixed;
  top: 64px;
  left: 64px;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0);
}

.header-signature {
  font-size: $space;
}

.header-signature {
  color:#FFF;
}
