/* ----------------------------------------------------- */
/* FONTS */
/* ----------------------------------------------------- */

@font-face {
  font-family:'RajdhaniBold';
  src: url('./fonts/Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RajdhaniRegular';
  src: url('./fonts/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RajdhaniSemibold';
  src: url('./fonts/Rajdhani-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'RajdhaniLight';
  src: url('/fonts/Rajdhani-Light.ttf') format('truetype');
}

/* ----------------------------------------------------- */
