/* ----------------------------------------------------- */
/* FONTS */
/* ----------------------------------------------------- */

@font-face {
  font-family:'Space-B';
  src: url('./fonts/SpaceMono-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Space-BI';
  src: url('./fonts/SpaceMono-BoldItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Space-R';
  src: url('./fonts/SpaceMono-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Space-I';
  src: url('./fonts/SpaceMono-Italic.ttf') format('opentype');
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('./fonts/Oranienbaum-Regular.ttf') format('opentype');
}

/* ----------------------------------------------------- */
