.module-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter*2;
  box-shadow: $boxshadow-level--four;
  z-index: 5;

  .hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 64px;
    .hero-subtitle{

    }
    .hero-title {

    }
  }
  .hero-img-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    right: 0px;
    .hero-img {
      position: absolute;
      left:0;
      height: auto;
      width: 512px;
    }
  }

}


.inverted-shadow {
  box-shadow: $boxshadow-level--four-inverted;
}

.margin-bottom--space2 {
    margin-bottom: $space*2;
}


.module-columns--nopadding {
  display: flex;
  flex-direction: column;
  flex:0;
  padding: 0;
  transition: $transition_default;
}

.module-columns--space2 {
  display: flex;
  flex-direction: column;
  flex:0;
  padding: $space*2;
  transition: $transition_default;
}

.module-columns--space3 {
  display: flex;
  flex-direction: column;
  flex:0;
  padding: $space*3 $space*2;
  transition: $transition_default;
}

.module-columns--space4 {
  display: flex;
  flex-direction: column;
  flex:0;
  padding: $space*4;
  transition: $transition_default;
}

.section-col--one {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  flex:0;
  transition: $transition_default;
}

.section-col--four {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex:0;
  transition: $transition_default;
}

.col25 {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: 0 $space*2 $space*2 0;
  transition: $transition_default;
}

.col25--space {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: $space $space*2 $space $space*2;
  transition: $transition_default;
}


.col25--space2 {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: $space*2 $space*2 $space*2 $space*2;
  transition: $transition_default;
}

.col25--space4 {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: $space*4 $space*2 $space*4 0;
  transition: $transition_default;
}

.col25--nopadding {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: 0 $space*2 0 0;
  transition: $transition_default;
}

.col25--heading {
  display: flex;
  flex-direction: column;
  width: $space*16;
  padding: 0 0 $space/2 0;
  transition: $transition_default;
}

.animate-col1 {
  margin-left:-64px;
  transition: $transition_default;
}

.revealed {
  margin-left:-64px;
  transition: $transition_default;
}

.animate-col2 {
  margin-left:-256px;
  transition: $transition_default;
}

.animate-col3 {
  margin-left:-512px;
  transition: $transition_default;
}

.col75 {
  display: flex;
  flex-direction: column;
  width: $space*52;
  height: 50vh;
  padding: 0 $space*2 $space*2 0;
  transition: $transition_default;
}

.module-fullscreen--bgimage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: $space*32;
  padding: $space*4;
  background-image: url('images/alfalaval-bgimage.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// @media screen and (max-width: 768px){
//   .module-backgroundinfo {
//     flex-direction: column;
//
//     .section-col--25percent {
//       flex: 1 0 50%;
//
//     }
//
//   }
//
// }
