.arrowbtns {
  position: fixed;
  bottom:32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 32px;
  z-index: 100;

  .arrowbtns-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;

    .arrowbtns-container--updown {
      display: flex;
      flex-direction: column;
    }

    .arrowbtns-btn--left {
      margin-right:8px;
    }

    .arrowbtns-btn--top {
      margin-bottom:8px;
      z-index: 1000;
    }

    .arrowbtns-btn--right {
      margin-left:8px;
    }

    .arrowbtns-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 28px;
      border-radius: 1px;
      box-shadow: $boxshadow-level--one;
      &:hover {
        box-shadow: $boxshadow-level--three;
        transition: $transition_default;
      }
      &:active {
        box-shadow: $boxshadow-level--one;
        transition: $transition_default;
      }

      .arrowbtns-arrow--left {
        position: absolute;
        left: 10px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 7px solid $color-projectone--primary;
      }
      .arrowbtns-arrow--up {
        position: absolute;
        left: 9px;
        top: 6px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid $color-projectone--primary;
      }
      .arrowbtns-arrow--down {
        position: absolute;
        left: 9px;
        top: 7px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid $color-projectone--primary;
      }
      .arrowbtns-arrow--right {
        position: absolute;
        left: 11px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 7px solid $color-projectone--primary;
      }
    }

    .ui--white {
      background-color: $color-white;
    }

  }
}


.header-displaymode--carousel {
  margin-right:4px;
  .icn-carousel--frame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    border: 1px solid $color-white;
    border-radius: 1px;

    .icn-carousel--card0.default {
      position: absolute;
      top:5px;
      left:0px;
      width: 0px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }

    .icn-carousel--card1.default {
      position: absolute;
      top:5px;
      left:0px;
      width: 5px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }
    .icn-carousel--card1 {
      position: absolute;
      top:5px;
      left:0px;
      width: 7px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;
    }

    .icn-carousel--card2.default {
      position: absolute;
      top:5px;
      left:7px;
      width: 12px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }
    .icn-carousel--card2 {
      position: absolute;
      top:5px;
      left:9px;
      width: 12px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }

    .icn-carousel--card3.default {
      position: absolute;
      top:5px;
      right:0px;
      width: 5px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }

    .icn-carousel--card3 {
      position: absolute;
      top:5px;
      right:23px;
      width: 3px;
      height: 8px;
      background-color: $color-white;
      transition: $transition_default;

    }

  }
}

.header-displaymode--grid {
  margin-left:4px;

  .icn-grid--frame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    border: 1px solid $color-white;
    border-radius: 1px;

    .icn-grid--card{
      position: absolute;
      width: 6px;
      height: 4px;
      background-color: $color-white;
    }
    .icn-grid--card1 {
      top:3px;
      left:2px;
      transition: $transition_default;
    }
    .icn-grid--card2 {
      top:3px;
      left:10px;
      transition: $transition_default;
    }
    .icn-grid--card3 {
      top:3px;
      right:2px;
      transition: $transition_default;
    }
    .icn-grid--card4 {
      bottom:3px;
      left:2px;
      transition: $transition_default;
    }
    .icn-grid--card5 {
      bottom:3px;
      left:10px;
      transition: $transition_default;
    }
    .icn-grid--card6 {
      bottom:3px;
      right:2px;
      transition: $transition_default;
    }
  }
}

.header-displaymode--grid.selected, .header-displaymode--carousel.selected {
  opacity: 1;
}

.header-displaymode--grid.not-selected, .header-displaymode--carousel.not-selected {
  opacity: .5;
  &:hover{
    opacity: .9;
  }
}









.ui--light {
  background-color: $color-light;
}

.ui--dark {
  background-color: $color-dark;
}

.ui--black {
  background-color: $color-black;
}
