/* ----------------------------------------------------- */
/*********************** IMPORTS *************************/
/* ----------------------------------------------------- */

@import "_reset";
@import "_imports";

/* ----------------------------------------------------- */

/********************** VARIABLES ************************/

/* ----------------------------------------------------- */
/* SPACING */
/* ----------------------------------------------------- */

  $space: 16px;
  $general_font_size: 16px;
  $gutter: $space*4;
  $vertical_spacing: $space*8;

/* ----------------------------------------------------- */
/* FONTS */
/* ----------------------------------------------------- */

  $font-headings: SpaceMono-bold;
  $font-subheadings: asdf;
  $font-paragraf: asdf;
  $font-stack2: Calibri;
  $font-stack3: Georgia;

  $font-size-regular: 1em;
  $font-size-line-height: 1.5em;
  $font-size-line-height-sm: 1em;

/* ----------------------------------------------------- */
/* COLORS */
/* ----------------------------------------------------- */

  /*Alfa laval*/
  $color-projectone--primary: #23337E;

  /*Agrowth*/
  $color-projecttwo--primary: #ff6665;

  /*Caribou*/
  $color-projectthree--primary: #7BCE6A;

  /*Castle of Sand*/
  $color-projectfour--primary: #D1BE98;

  /*INT3 Software*/
  $color-projectfive--primary: #EB542D;
  $color-projectfive--secondary: #101425;

  /*Icon set*/
  $color-projectsix--primary: #FE358B;

  /*UI default colors*/

  $color-white: #ffffff;
  $color-grey: #8C98A2;
  $color-dark: #4F5C66;
  $color-black: #1D242A;
  $color-black--extra: #000000;

/* ----------------------------------------------------- */
/* MEDIA QUERY */
/* ----------------------------------------------------- */

  $mq_wide: 1920px;
  $mq_standard: 1440px;
  $mq_thin: 768px;
  $mq_very_thin: 767px;

/* ----------------------------------------------------- */
/* ANIMATION */
/* ----------------------------------------------------- */

  $transition_default: all .2s ease-in-out;
  $transition_duration: 0.4s;
  $transition_ease: ease-in-out;

/* ----------------------------------------------------- */
/* CSS */
/* ----------------------------------------------------- */

html {
  font-size: $general_font_size;
  font-family: $font-paragraf !important;
  line-height: $font-size-line-height;
 }

 /* ----------------------------------------------------- */
 /*********************** IMPORTS *************************/
 /* ----------------------------------------------------- */


  @import "_typography";
  @import "_carousel";
  @import "_header";


// @import "";

/* ----------------------------------------------------- */
/* EDIT HERE */
/* ----------------------------------------------------- */
