.about-section {
  @include addFlex(0, center, center, 0);
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $color-white-05;
  padding: 6rem 0;

  .grid-container {
    @include addFlex(0, center, center, 0);
    .contact--content { 
      @include addFlex(column, 0, 0, 0);
      width: calc(100% / 3 * 2);
      max-width: 640px;
      height: 100%;
      padding: 0rem 2rem 0rem 0rem;

      .contact--social {
        @include addFlex(0,0,0,0);
        margin-top: .5rem;
        .contact--social__icon {
          position: relative;
          @include addFlex(0,center,center,0);
          height: 3rem;
          width: 3rem;
          margin-right: 1rem;
          border: 1px solid $color-dark;
          border-radius: .25rem;
          transition: $transition--enter__fast;
          svg {
            height: 1.5rem;
            .svg-color {
              fill: $color-dark;
              transition: $transition--enter__fast;
            }
          }
        }
      }

    }

    .contact--image {
      width: calc(100% / 3);
      min-width: 256px;
      height: 100%;
      padding-left: 2rem;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        opacity: 1;
        border-radius: .5rem;
        box-shadow: $box-shadow-three;
      }
    }

  }

}

@media (hover: hover) {

  .about-section {
    .grid-container {
      .contact--content { 
        .contact--social {
          .contact--social__icon:hover {
            transition: $transition--exit__fast;
          }
          .contact--social__linkedin:hover {
            border: 1px solid $color-linkedin;
            svg {
              fill: $color-linkedin;
              transition: $transition--exit__fast;
              .svg-color {
                fill: $color-linkedin;
                transition: $transition--exit__fast;
              }
            }
          }
          .contact--social__instagram:hover {
            border: 1px solid $color-instagram;
            svg {
              .svg-color {
                fill: $color-instagram;
                transition: $transition--exit__fast;
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: $mq-sm) {

.about-section {
  @include addFlex(0, center, center, 0);
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $color-white-05;
  padding: 6rem 0;

  .grid-container {
    @include addFlex(0, center, center, 0);
    .contact--content { 
      width: calc(100%);
      max-width: 640px;
      height: 100%;
      padding: 0rem 0rem 2rem 0;

      .contact--social {
        @include addFlex(0,0,0,0);
        margin-top: .5rem;
        .contact--social__icon {
          position: relative;
          @include addFlex(0,center,center,0);
          height: 3rem;
          width: 3rem;
          margin-right: 1rem;
          border: 1px solid $color-dark;
          border-radius: .25rem;
          transition: $transition--enter__fast;
          svg {
            height: 1.5rem;
            .svg-color {
              fill: $color-dark;
              transition: $transition--enter__fast;
            }
          }
        }
      }
    }

    .contact--image {
      width: 100%;
      min-width: 256px;
      height: 100%;
      padding-left: 0;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        opacity: 1;
        border-radius: .5rem;
        box-shadow: $box-shadow-three;
      }
    }

  }

}


}
