.animation--gridreveal {
  transform: translateY(32px);
  opacity: 0;
  transition: $transition--enter__normal;
}

.animation--carouselreveal {
  transform: translateX(96px);
  opacity: 0;
  transition: $transition--enter__normal;
}


@-webkit-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-moz-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-ms-keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%, 100% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

@-webkit-keyframes grain {
  0% {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  30% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  40% {
    -moz-transform: translate(-5%, -15%);
    -ms-transform: translate(-5%, -15%);
    -webkit-transform: translate(-5%, -15%);
    transform: translate(-5%, -15%);
  }
  50% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  60% {
    -moz-transform: translate(15%);
    -ms-transform: translate(15%);
    -webkit-transform: translate(15%);
    transform: translate(15%);
  }
  70% {
    -moz-transform: translate(10%);
    -ms-transform: translate(10%);
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  80% {
    -moz-transform: translate(-15%);
    -ms-transform: translate(-15%);
    -webkit-transform: translate(-15%);
    transform: translate(-15%);
  }
  90% {
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  to {
    -moz-transform: translate(5%);
    -ms-transform: translate(5%);
    -webkit-transform: translate(5%);
    transform: translate(5%);
  }
}

@-ms-keyframes grain {
  0% {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  30% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  40% {
    -moz-transform: translate(-5%, -15%);
    -ms-transform: translate(-5%, -15%);
    -webkit-transform: translate(-5%, -15%);
    transform: translate(-5%, -15%);
  }
  50% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  60% {
    -moz-transform: translate(15%);
    -ms-transform: translate(15%);
    -webkit-transform: translate(15%);
    transform: translate(15%);
  }
  70% {
    -moz-transform: translate(10%);
    -ms-transform: translate(10%);
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  80% {
    -moz-transform: translate(-15%);
    -ms-transform: translate(-15%);
    -webkit-transform: translate(-15%);
    transform: translate(-15%);
  }
  90% {
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  to {
    -moz-transform: translate(5%);
    -ms-transform: translate(5%);
    -webkit-transform: translate(5%);
    transform: translate(5%);
  }
}

@-moz-keyframes grain {
  0% {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  30% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  40% {
    -moz-transform: translate(-5%, -15%);
    -ms-transform: translate(-5%, -15%);
    -webkit-transform: translate(-5%, -15%);
    transform: translate(-5%, -15%);
  }
  50% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  60% {
    -moz-transform: translate(15%);
    -ms-transform: translate(15%);
    -webkit-transform: translate(15%);
    transform: translate(15%);
  }
  70% {
    -moz-transform: translate(10%);
    -ms-transform: translate(10%);
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  80% {
    -moz-transform: translate(-15%);
    -ms-transform: translate(-15%);
    -webkit-transform: translate(-15%);
    transform: translate(-15%);
  }
  90% {
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  to {
    -moz-transform: translate(5%);
    -ms-transform: translate(5%);
    -webkit-transform: translate(5%);
    transform: translate(5%);
  }
}

@keyframes grain {

  0% {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -moz-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  30% {
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  40% {
    -moz-transform: translate(-5%, -15%);
    -ms-transform: translate(-5%, -15%);
    -webkit-transform: translate(-5%, -15%);
    transform: translate(-5%, -15%);
  }
  50% {
    -moz-transform: translate(-10%, -5%);
    -ms-transform: translate(-10%, -5%);
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  60% {
    -moz-transform: translate(15%);
    -ms-transform: translate(15%);
    -webkit-transform: translate(15%);
    transform: translate(15%);
  }
  70% {
    -moz-transform: translate(10%);
    -ms-transform: translate(10%);
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  80% {
    -moz-transform: translate(-15%);
    -ms-transform: translate(-15%);
    -webkit-transform: translate(-15%);
    transform: translate(-15%);
  }
  90% {
    -moz-transform: translate(10%, 5%);
    -ms-transform: translate(10%, 5%);
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  to {
    -moz-transform: translate(5%);
    -ms-transform: translate(5%);
    -webkit-transform: translate(5%);
    transform: translate(5%);
  }
}

.grain {
  position: relative;
  overflow: hidden;
}

.grain::after {
  content: "";
    position: absolute;
    z-index: 800;
    height: 180%;
    left: -40%;
    top: -40%;
    width: 180%;
    pointer-events: none;
    will-change: transform;
    opacity: .9;
    -webkit-animation: grain 5s steps(10) infinite;
    -moz-animation: grain 5s steps(10) infinite;
    -ms-animation: grain 5s steps(10) infinite;
    animation: grain 5s steps(10) infinite;
    z-index: 12340;
    background: url('/wp-content/themes/maxthunberg-portfolio/images/noise.png');
}
