.menu.card-link {
  height: auto;
}

.card-link {
  height: 60%;
  width: 100%;
  text-decoration: none;
}

.card-link.hide-left{
  margin-right: 100%;
  transition: $transition--enter__fast;
}

.card-link.hide-right{
  margin-left: 100%;
  transition: $transition--enter__fast;
}


// Cards

.card {
  @include addFlex(0,0,0,0);
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  transform: translateY(0);
  box-shadow: $box-shadow-two;
  transition: $transition--enter__fast;
  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow-four;
    transition: $transition--exit__fast;
    cursor: pointer;
  }

  .card-left {
    @include addFlex(column,flex-start,center,0);
    height: 100%;
    width: 50%;
    padding: 4rem 0rem 4rem 4rem;
    z-index: 2;
    .card-text {
      width: 100%;
      // h5 {
      //   color: $color-white;
      //   opacity: .7;
      //   margin-bottom: .5rem;
      // }
      // h2 {
      //   color: $color-white;
      //   max-width: none;
      // }
    }

  }
  .card-right {
    width: 50%;
    height: 100%;
    @include addFlex(0,center,0,0);
    z-index: 1;
    img {
      height: 320px;
      width: auto;
      margin-top: 4rem;
      transition: $transition--enter__fast;
    }
  }

}


.card-link.click {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  transition: $transition--enter__fast;
  .card {
    border-radius: 0;
    transition: $transition--enter__fast;
    .card-left {
      padding: 4rem 0rem 4rem 6rem;
    }
    .card-right {
      img {
        width: auto;
        margin-top: 0;
      }
    }
    &:hover {
      transform: translateY(0);
      box-shadow: none;
      transition: $transition--exit__fast;
      cursor: pointer;
    }
  }

}

.card.project-6 .card-right img {
  height: 320px;
  margin-top: 4rem;
}

.card.project-3 .card-right img {
  height: 100vh;
  margin-left: -256px;
  margin-top: 4rem;
}

.card.project-1 .card-right img {
  height: 256px;
  margin-top: 4rem;
}

.card.project-2 .card-right img {
  height: 100vh;
  margin-top: 4rem;
}

.card.project-4 .card-right img {
  height: 340px;
  margin-top: 4rem;
}

.card.project-5 .card-right img {
  height: 100vh;
  margin-left: -480px;
  margin-top: 4rem;
}






.card-sm {
  @include addFlex(0,0,0,0);
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  transform: translateY(0);
  box-shadow: $box-shadow-two;
  transition: $transition--enter__fast;
  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow-four;
    transition: $transition--exit__fast;
    cursor: pointer;
  }
  .card-left {
    @include addFlex(0,center,0,0)
    width: 60%;
    padding: 1.5rem .5rem 1.5rem 1.5rem;
    z-index: 2;
    .card-text {
      h5 {
      }
      h2 {
      }
    }

  }
  .card-right {
    width: 40%;
    height: 100%;
    max-height: 100%;
    z-index: 1;
    img {
      height: 100%;
      max-height: 100%;
      margin-top: 0;
      margin-left: 0;
    }
  }

}




.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
  .featured-image {
    opacity: 0;
  }
}

.cardclick {
  width: 100%;
  height: 100%;
  z-index: 1100;
  opacity: 0;
  position: absolute;
  left: 0;
  top:0;
}
#forceclick {
  height: auto;
  width: auto;
  z-index: 2000;
}


.projectscroll {
  overflow: auto!important;
}


@media screen and (max-width: $mq-sm) {

  .card-link {
    height: calc(100% - 8rem);
    width: 100%;
    text-decoration: none;
    margin-top: 2.5rem;
  }

  .swiper-slide.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    padding: .5rem;
    transition: $transition--enter__fast;
  }


  .card {
    @include addFlex(column,0,0,0);
    height: 100%;
    width: 100%;
    &:hover {
      transform: translateY(-2px);
      box-shadow: $box-shadow-four;
      transition: $transition--exit__fast;
      cursor: pointer;
    }

    .card-left {
      width: 100%;
      height: 50%;
      @include addFlex(column,flex-start,flex-end,0);
      padding: 1.5rem 1.5rem 3rem 2rem;

      .card-text {
        h5 {
        }
        h2 {
        }
      }

    }
    .card-right {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 50%;
      transition: $transition--enter__fast;
      img {
        max-height: 100%;
        width: auto;
      }

    }

  }


  .card-link.click {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: $transition--enter__fast;

    .card {
      .card-left {
        padding: 1.5rem 1.5rem 3rem 2rem;
      }
      .card-right {
        transition: $transition--enter__fast;
      }
    }
  }



  .card-sm {
    @include addFlex(row,0,0,0);
    position: relative;
    max-height: 192px;
    &:hover {
      transform: translateY(-2px);
      box-shadow: $box-shadow-four;
      transition: $transition--exit__fast;
      cursor: pointer;
    }
    .card-left {
      @include addFlex(column,flex-start,center,0);
      padding: 1rem;
      margin:0;
      width: 70%;
      height: 100%;

      .card-text {
        width: 100%;
        h5 {
        }
        h2 {
        }
      }

    }
    .card-right {
      width: 30%;
      height: 100%;
      margin-left: 0;
      img {
        height: 100%;
        margin-left: 0;
      }
    }

  }


  .card.project-6 .card-right img {
    height: 320px;
    margin-top: 4rem;
  }

  .card.project-3 .card-right img {
    height: 100vh;
    margin-left: -112px;
    margin-top: 4rem;
  }

  .card.project-1 .card-right img {
    height: 256px;
    margin-top: 4rem;
  }

  .card.project-2 .card-right img {
    height: 100vh;
    margin-top: 4rem;
  }

  .card.project-4 .card-right img {
    height: 100vh;
    margin-top: 4rem;
  }

  .card.project-5 .card-right img {
    height: 100vh;
    margin-left: 160px;
    margin-top: 4rem;
  }



}


@media screen and (max-width: $mq-xs) {

  .card.project-6 .card-right img {
    height: 320px;
    margin-top: 4rem;
  }

  .card.project-3 .card-right img {
    height: 100vh;
    margin-left: -112px;
    margin-top: 4rem;
  }

  .card.project-1 .card-right img {
    height: 256px;
    margin-top: 4rem;
  }

  .card.project-2 .card-right img {
    height: 100vh;
    margin-top: 4rem;
  }

  .card.project-4 .card-right img {
    height: 100vh;
    margin-top: 4rem;
  }

  .card.project-5 .card-right img {
    height: 100vh;
    margin-left: -40px;
    margin-top: 4rem;
  }

}
