.preloader {
  height: 100vh;
  width: 100vw;
  background-color: $color-white;
  position: fixed;
  top:0;
  left: 0;
  z-index: 11000;
  color: $color-white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    @include addFlex(column,center,center,0);
    width: 100%;
    .preloader--container {
      position: relative;
      width: 100%;
      max-width: rem(256px);
      @include addFlex(column, center, center, 0);
      z-index: 10;
      .bar {
        position: relative;
        width: 100%;
        height: .25rem;
        border-radius: .125rem;
        overflow: hidden;
        background-color: rgba(0,0,0,.1);
        margin: 2rem 0 .5rem;
        .progress {
          position: absolute;
          left: 0;
          height: 100%;
          width: 0%;
          background-color: $color-primary;
          transition: width .1s linear;
          &.completed {
            width: 100%!important;
            transition: width .3s ease-in;
          }
        }
      }

    }
    
    .preloader--container.hide {
      display: none;
    }

  }
}

.preloader.hide{
  display: none;
}
