.project-overview {
  @include linear-gradient(45deg, $color-black, $color-dark);
  @include addFlex(column, center, center, 0);
  padding: 8rem 3rem;
  .heading {
    margin-bottom: 3rem;
  }
  .project-overview--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    min-height: calc(100vh - 16rem);
    height: 100%;
    margin: 0;
  }
}


@media screen and (max-width: $mq-md) {

  .project-overview {
    padding: 6rem 1rem;
    .project-overview--container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      grid-gap: 1rem;
      width: 100%;
      min-height: calc(100vh - 16rem);
      height: 100%;
      margin: 0;
    }
  }


}
